<div *ngIf="contacts" class="edit_page_h">Contacts</div>
<div *ngIf="!editing" style="height:100%">
    <div class="project_info">
        <table>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.name}}: </td>
                <td>{{contact.link}}</td>
            </tr>
        </table>
    </div>
    <div class="edit_btn_block">
        <button class="edit_btn" (click)="edit()">Edit</button>
    </div>
</div>
<div *ngIf="editing" style="height:100%">
    <div class="project_info">
        <table>
            <tr *ngFor="let contact of editContacts">
                <td>{{contact.name}}: </td>
                <td><input type="text" [(ngModel)]="contact.link"></td>
            </tr>
        </table>
    </div>
    <div class="edit_btn_block">
        <button class="edit_btn" (click)="save()">Save</button>
        <button class="edit_btn" (click)="cancel()">Cancel</button>
    </div>
</div>