<div class="page">
    <div *ngIf="aboutContent" id="root" class="page_about">
        <div>
            <h2 class="left_part">{{aboutContent.whatWeDo.title}}</h2>
            <div class="right_part">
                <div *ngFor="let item of aboutContent.whatWeDo.content">
                    <b class="about_tittle">{{item.title}}</b>
                    <p>{{item.text}}</p>
                </div>
            </div>
        </div>
        <div>
            <h2 class="left_part">{{aboutContent.capabilities.title}}</h2>
            <div class="right_part">
                <b *ngFor="let item of aboutContent.capabilities.content">{{item.title}}</b>
            </div>
        </div>
        <div>
            <h2>{{aboutContent.instagram.title}}</h2>
            <b class="right_part follow_us"><a href="{{aboutContent.instagram.link}}" target="_blank">{{aboutContent.instagram.content}}</a></b>
            <h2 lass="left_part">{{aboutContent.client.title}}</h2>
            <div class="right_part">
                <b *ngFor="let item of aboutContent.client.content">{{item.clientName}}</b>
            </div>
            <div>
                <div class="awards_block">
                    <h2 class="left_part">{{aboutContent.awards.title}}</h2>
                    <div class="left_part">
                        <img src="{{aboutContent.awards.leftPart.image}}" alt="Behance">
                        <p *ngFor="let item of aboutContent.awards.leftPart.content"><b>{{item.title}}</b> {{item.text}}</p>
                    </div>
                    <div class="right_part right_part_awards">
                        <img src="{{aboutContent.awards.rightPart.image}}" alt="Awwwards">
                        <p *ngFor="let item of aboutContent.awards.rightPart.content"><b>{{item.title}}</b> {{item.text}}</p>
                    </div>
                </div>
                <p class="page_about_description">{{aboutContent.description}}</p>
                <b class="ready_to_start">{{aboutContent.start.title}} <a href="{{aboutContent.start.link}}" target="_blank" >{{aboutContent.start.linkTitle}}</a></b>
            </div>
        </div>
    </div>
</div>