<!--<app-yourock-description *ngFor="let description of descriptions" [description]="description"></app-yourock-description>-->
<div id="root" class="page page_about">
    <div>
        <h2 class="left_part">What We Do</h2>
        <div class="right_part">
            <b class="about_tittle">Branding & Design</b>
            <p>We're first and foremost a graphic design studio. We live to tell stories on pages and screens and our obsession
                with design affects everything else we do. We value simplicity and aim to distill your message with intelligent
                design.</p>
            <b class="about_tittle">Development</b>
            <p>We're first and foremost a graphic design studio. We live to tell stories on pages and screens and our obsession
                with design affects everything else we do. We value simplicity and aim to distill your message with intelligent
                design.</p>
        </div>
    </div>
    <div>
        <h2 class="left_part">Capabilities</h2>
        <div class="right_part">
            <b>Mobile dev</b>
            <b>Branding & Identity</b>
            <b>Print</b>
            <b>UX & UI Design</b>
            <b>Web & Responsive</b>
            <b>E-Commerce</b>
            <b>Hosting & Maintenance</b>
            <b>Moving Content</b>
        </div>
    </div>
    <div>
        <h2>Instagram</h2>
        <b class="right_part follow_us">Follow us <a href="https://www.instagram.com/yourock_inc/" target="_blank">@yourock_inc</a></b>
        <h2 lass="left_part">Selected Clients</h2>
        <div class="right_part">
            <b>Yota</b>
            <b>Kaspersky Lab</b>
            <b>MTS</b>
            <b>Leroy Merlin</b>
            <b>Fendi</b>
            <b>Nivea</b>
        </div>
        <div>
            <div class="awards_block">
                <h2 class="left_part">Awards</h2>
                <div class="left_part">
                    <img src="/assets/images/be.png" alt="Behance">
                    <p><b>Behance</b> Interaction Gallery</p>
                    <p><b>AWWWARDS</b> Site of the Day</p>
                    <p><b>Top100 RUWARD</b> Mobile Developers</p>
                </div>
                <div class="right_part right_part_awards">
                    <img src="/assets/images/aw.png" alt="Awwwards">
                    <p><b>Top100 TAGLINE</b> Mobile Developers</p>
                    <p><b>Top100 TAGLINE</b> Game Developers</p>
                    <p><b>Top100 Raiting Runet</b></p>
                </div>
            </div>
            <p class="page_about_description">We work openly and transparently. Our process is the product of years of refinement and we pride ourselves on
                our approach. We treasure collaboration and like working with you, not for you. We always aim to finish a
                project as long term strategic partners, not just one-time service providers. Get used to us being around.</p>
            <b class="ready_to_start">Ready to start a project? <a href="https://telegram.me/yourockinc" target="_blank" >Click here.</a></b>
        </div>