<div *ngIf="project">
    <div class="edit_page_h">Project</div>
    <div *ngIf="!editing" style="height:100%">
        <div>
            <div class="project_info">
                <table>
                    <tr>
                        <td>name: </td>
                        <td>{{project.title}}</td>
                    </tr>
                    <tr>
                        <td>descriptions: </td>
                        <td>{{project.text}}</td>
                    </tr>
                    <tr>
                        <td>site link: </td>
                        <td>{{project.site.link}}</td>
                    </tr>
                    <tr>
                        <td>site name: </td>
                        <td>{{project.site.title}}</td>
                    </tr>
                </table>
            </div>
            <div class="project_img">
                <video autoplay="" loop="" *ngIf="project.media.type==='video';else image" src="{{project.media.src}}">
                </video>
                <ng-template #image>
                    <img src="{{noImage ? '/assets/images/no-image.png' : project.media.src}}">
                </ng-template>
            </div>
        </div>
        <div class="edit_btn_block">
            <button class="edit_btn" (click)="edit()">Edit</button>
            <button class="edit_btn" (click)="delete()">Delete</button>
        </div>
    </div>
    <div *ngIf="editing" style="height:100%">
        <div>
            <div class="project_info">
                <table>
                    <tr>
                        <td>name: </td>
                        <td><input type="text" [(ngModel)]="editProject.title"></td>
                    </tr>
                    <tr>
                        <td>descriptions: </td>
                        <td><textarea rows="7" cols="30" [(ngModel)]="editProject.text"></textarea></td>
                    </tr>
                    <tr>
                        <td>site link: </td>
                        <td><input type="text" [(ngModel)]="editProject.site.link"></td>
                    </tr>
                    <tr>
                        <td>site name: </td>
                        <td><input type="text" [(ngModel)]="editProject.site.title"></td>
                    </tr>
                </table>
            </div>
            <div class="project_img">
                <video autoplay="" loop="" *ngIf="editProject.media.type==='video';else image" [src]="url">
                </video>
                <ng-template #image>
                    <img [src]="url">
                </ng-template>
                <input (change)="fileChange($event)" name="project_img" type="file" value="" accept="image/png, video/mp4">
            </div>
        </div>
        <div class="edit_btn_block">
            <button class="edit_btn" (click)="save()">Save</button>
            <button class="edit_btn" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>