<div class="edit_page_h">Main Page</div>
<div *ngIf="!editing" style="height:100%">
    <div class="edit_page_text">{{title}}</div>
    <div class="edit_btn_block">
        <button class="edit_btn" (click)="edit()">Edit</button>
    </div>
</div>
<div *ngIf="editing" style="height:100%">
    <div class="edit_page_text">
        <textarea rows="20" cols="70" [(ngModel)]="editText"></textarea>
    </div>
    <div class="edit_btn_block">
        <button class="edit_btn" (click)="save()">Save</button>
        <button class="edit_btn" (click)="cancel()">Cancel</button>
    </div>
</div>