<div class="page">
    <header *ngIf="navbar" class="header" style="display: block;">
        <div class="header__left">
            <div class="logo__wrapper" style="margin-right: 0px;">
            </div>
            <a [routerLink]="'/'" class="logo logo-1"><img src="/assets/images/logo.svg"></a>
            <a [routerLink]="'/'" class="logo logo-2"><img src="/assets/images/logo.svg"></a>
        </div>
        <nav>
            <ul>
                <li><a class="agency" [routerLink]="'/about'">{{navbar.agency}}</a></li>
                <li><span class="hire_us hire_us-visible hire_us_ru" (click)="showHireUsForm()">{{navbar.hireUs}}</span></li>
                <li>
                    <div class="language">
                        <a (click)="swithLanguage('ru')" class="ru">Ru</a> |
                        <a (click)="swithLanguage('en')" class="en">En</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <form [formGroup]="hireUsForm" novalidate [@showHireUsForm]="state" (submit)="sendEmail()" method="post" class="form popup_form fadeInRight cmxform"
        id="contactForm" enctype="multipart/form-data">
        <div (click)="showHireUsForm()" class="popup_form-close"></div>

        <div class="sel sel--black-panther">
            <span #select class="sel__placeholder sel__placeholder--black-panther" placeholder="Выберите услугу">{{hireUsFormText?.title}}</span>
            <div class="sel__box sel__box--black-panther">
                <span *ngFor="let option of hireUsFormText?.options" (click)="onSubjectClick($event)" class="sel__box__options sel__box__options--black-panther">{{option.name}}</span>
            </div>
        </div>

        <div class="popup_form-item-mandatory">
            <input formControlName="name" class="popup_form-item" id="name" placeholder="{{hireUsFormText?.formName}}" autocomplete="off">
            <app-yourock-control-messages [control]="hireUsForm.controls.name"></app-yourock-control-messages>
        </div>

        <div class="popup_form-item-mandatory">
            <input formControlName="phone" class="popup_form-item" id="phone" placeholder="{{hireUsFormText?.phone}}" autocomplete="off">
            <app-yourock-control-messages [control]="hireUsForm.controls.phone"></app-yourock-control-messages>
        </div>

        <div class="popup_form-item-mandatory">
            <input formControlName="email" class="popup_form-item" id="email" placeholder="{{hireUsFormText?.email}}" autocomplete="off">
            <app-yourock-control-messages [control]="hireUsForm.controls.email"></app-yourock-control-messages>
        </div>

        <div class="popup_form-item-mandatory item-message">
            <textarea formControlName="message" class="popup_form-item" id="text" placeholder="{{hireUsFormText?.message}}" autocomplete="off"></textarea>
            <app-yourock-control-messages [control]="hireUsForm.controls.message"></app-yourock-control-messages>
        </div>

        <div class="wrapper_popup_form-item">
            <div *ngIf="file; else noFile" class="item_tittle">{{fileName}}</div>
            <ng-template #noFile>
                <div class="item_tittle">{{hireUsFormText?.file}}</div>
            </ng-template>
            <input class="popup_form-item attach" (change)="fileChange($event)" name="file_for_email" type="file" value="">
        </div>

        <input *ngIf="hireUsForm.valid" class="submit_button popup_form-btn" type="submit" value="{{hireUsFormText?.send}}">
        <div *ngIf="sendingEmail" class="holder">
            <div class="dot one"></div>
            <div class="dot two"></div>
            <div class="dot three"></div>
        </div>
        <!--<ng-template #error>
            <input style="cursor:initial" class="submit_button popup_form-btn" value="{{hireUsFormText?.error}}">
        </ng-template>-->

        <!--<div class="popup_form-item-mandatory">
            <span>— {{hireUsFormText?.footnote}}</span>
        </div>-->
        <!--<div class="social">
            <a href="https://telegram.me/yourockinc" target="_blank" class="social__telegram-white"></a>
        </div>-->
    </form>
</div>