<div class="page">
    <header *ngIf="navbar" class="header" style="display: block;">
        <div class="header__left">
            <div class="logo__wrapper" style="margin-right: 0px;">
            </div>
            <a [routerLink]="'/'" class="logo logo-1"><img src="/assets/images/logo.svg"></a>
            <a [routerLink]="'/'" class="logo logo-2"><img src="/assets/images/logo.svg"></a>
        </div>
        <nav>
            <ul>
                <li><a class="agency" [routerLink]="'/about'">{{navbar.agency}}</a></li>
                <li>
                    <div class="language">
                        <a (click)="swithLanguage('ru')" class="ru">Ru</a> |
                        <a (click)="swithLanguage('en')" class="en">En</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>