<div id="root" class="pandora_page">
    <div class="pandora_menu">
        <div class="pandora pandora_admin">
            <p>YOUROCK INC</p>
            <span>Pandora 1.0</span>
        </div>
        <div>
            <div class="language pandora_language">
                <a href="" class="ru">Ru</a> | <a href="" class="en">En</a></div>
        </div>
        <div class="pandora_menu_list">
            <p>Main page</p>
            <p>Agency</p>
            <div class="pandora_projects">
                <p>Projects</p>
                <ul>
                    <li>Project 1</li>
                    <li>Project 2</li>
                    <li>Project 3</li>
                    <li>Project 4</li>
                    <li>Project 5</li>
                </ul>
            </div>
            <p>Contacts</p>
        </div>
        <div class="logout">
            Log out
        </div>
    </div>
    <div class="add_project">
        <div class="add_project__btn">Add project</div>
    </div>
    <div class="edit_contacts">
        <div class="edit_contacts__btn">Edit contacts</div>
    </div>
</div>