<div id="root" class="pandora_page">
    <div class="pandora_menu">
        <div class="pandora pandora_admin">
            <p [routerLink]="'/'">YOUROCK INC</p>
            <span>Pandora 1.0</span>
        </div>
        <div>
            <div class="language pandora_language">
                <a class="ru" (click)="swithLanguage('ru')">Ru</a> |
                <a class="en" (click)="swithLanguage('en')">En</a>
            </div>
        </div>
        <div class="pandora_menu_list">
            <p [routerLink]="[{ outlets: {'sidebar': ['main-page'] } }]">Main page</p>
            <p [routerLink]="[{ outlets: {'sidebar': ['agency'] } }]">Agency</p>
            <div class="pandora_projects">
                <p [routerLink]="[{ outlets: {'sidebar': ['projects'] } }]">Projects</p>
                <ul>
                    <li *ngFor="let project of projects" [routerLink]="[{ outlets: {'sidebar': ['project', project.id] } }]">{{project.title}}</li>
                </ul>
            </div>
            <p [routerLink]="[{ outlets: {'sidebar': ['contacts'] } }]">Contacts</p>
        </div>
        <button class="logout" (click)="signOut()">
            Log out
        </button>
    </div>
    <div class="edit_page">
        <router-outlet name="sidebar"></router-outlet>
    </div>
    <!--<div class="add_project">
        <div class="add_project__btn">Add project</div>
    </div>
    <div class="edit_contacts">
        <div class="edit_contacts__btn">Edit contacts</div>
    </div>-->
</div>