<section *ngIf="index%2===0;else reverseSide" class="cbp-so-section cbp-so-init">
    <app-yourock-project-title [project]="project" [index]="index"></app-yourock-project-title>
    <app-yourock-project-media [project]="project" [index]="index"></app-yourock-project-media>
</section>

<ng-template #reverseSide>
    <section class="cbp-so-section cbp-so-init">
        <app-yourock-project-media [project]="project" [index]="index"></app-yourock-project-media>
        <app-yourock-project-title [project]="project" [index]="index"></app-yourock-project-title>
    </section>
</ng-template>