<div *ngIf="adding">
    <div class="edit_page_h">Добавление</div>
    <div>
        <div class="project_info">
            <table>
                <tr>
                    <td>name: </td>
                    <td><input type="text" [(ngModel)]="newProject.title"></td>
                </tr>
                <tr>
                    <td>descriptions: </td>
                    <td><textarea rows="7" cols="30" [(ngModel)]="newProject.text"></textarea></td>
                </tr>
                <tr>
                    <td>site link: </td>
                    <td><input type="text" [(ngModel)]="newProject.site.link"></td>
                </tr>
                <tr>
                    <td>site name: </td>
                    <td><input type="text" [(ngModel)]="newProject.site.title"></td>
                </tr>
            </table>
        </div>
        <div class="project_img">
            <video autoplay="" loop="" *ngIf="newProject.media.type==='video';else image" [src]="url">
            </video>
            <ng-template #image>
                <img [src]="url ? url : 'assets/images/no-image.png'">
            </ng-template>
            <input (change)="fileChange($event)" name="project_img" type="file" value="" accept="image/png, video/mp4">
        </div>
    </div>
    <div class="edit_btn_block">
        <button class="edit_btn" (click)="save()">Сохранить</button>
        <button class="edit_btn" (click)="cancel()">Отмена</button>
    </div>
</div>
<div *ngIf="!adding">
    <div class="edit_page_h">Проекты</div>
    <div class="projects_list">
        <div [ngClass]="{'select': selectedItemIndex === i}" *ngFor="let project of projects;  let i = index" (click)="onProjectClick(project.id, i)"
            class="project_wrapper" (dblclick)="onProjectDbClick(project.id)">
            <p class="project_name">{{project.title}}</p>
            <video class="projects_img" autoplay="" loop="" *ngIf="project.media.type==='video';else image" [src]="project.media.src">
            </video>
            <ng-template #image>
                <img class="projects_img" [src]="project.media.src">
            </ng-template>
            <div class="project_desc" [ngClass]="{'disable-text-selection': isDbClick}">{{project.text}}</div>
        </div>
    </div>
    <div class="edit_btn_block">
        <button class="edit_btn" *ngIf="!adding" (click)="add()">Добавить</button>
        <button class="edit_btn" *ngIf="selectedItemId" (click)="delete()">Удалить</button>
        <button class="edit_btn" *ngIf="selectedItemId" (click)="edit()">Редактировать</button>
    </div>
</div>