[hidden] {
    display: none !important;
}

.ru, .en {
    cursor: pointer;
}

.loader-area {
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    background: #fff;
    z-index: 9999; 
    display: none;
}

.loader {
    left: 50%;
    margin-left: -5em;
    font-size: 10px;
    animation: spin 3s infinite linear;
}

.loader, .loader:after {
    width: 10em;
    height: 10em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5.5em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}