[hidden] {
    display: none !important;
}

.ru, .en {
    cursor: pointer;
}

.loader_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
}

.loader {
      margin-top: 17%;
      margin-bottom: 17%;
      height: 270px;
      -webkit-animation: preloader 3s infinite linear;
      -moz-animation: preloader 3s infinite linear;
      -ms-animation: preloader 3s infinite linear;
      -o-animation: preloader 3s infinite linear;
      animation: preloader 3s infinite linear;
    }

    @-webkit-keyframes preloader {
      to { -webkit-transform: rotate(360deg); }
    }

    @-moz-keyframes preloader {
      to { -moz-transform: rotate(360deg); }
    }

    @-ms-keyframes preloader {
      to { -ms-transform: rotate(360deg); }
    }

    @-o-keyframes preloader {
      to { -o-transform: rotate(360deg); }
    }

    @keyframes preloader {
      to { transform: rotate(360deg); }
    }

    .select {
      background-color: lightgray;
    }

    .project_wrapper:hover {
      background-color: lightsteelblue;
      cursor: pointer;
    }

    .project_wrapper {
      min-height: 100px;
    }
    
    /*.project_name {
      display: inline-block;
    }*/

    .disable-text-selection {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.edit_btn {
  margin-left: 3% !important;
}

.pandora_menu_list p, .pandora.pandora_admin p {
  cursor: pointer;
}

.pandora_menu_list p:hover {
  background-color: lightsteelblue;
}