[hidden] {
    display: none !important;
}

.ru, .en {
    cursor: pointer;
}

.loader_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
}

.loader {
      margin-top: 17%;
      margin-bottom: 17%;
      height: 270px;
      -webkit-animation: preloader 3s infinite linear;
      -moz-animation: preloader 3s infinite linear;
      -ms-animation: preloader 3s infinite linear;
      -o-animation: preloader 3s infinite linear;
      animation: preloader 3s infinite linear;
    }

    @-webkit-keyframes preloader {
      to { -webkit-transform: rotate(360deg); }
    }

    @-moz-keyframes preloader {
      to { -moz-transform: rotate(360deg); }
    }

    @-ms-keyframes preloader {
      to { -ms-transform: rotate(360deg); }
    }

    @-o-keyframes preloader {
      to { -o-transform: rotate(360deg); }
    }

    @keyframes preloader {
      to { transform: rotate(360deg); }
    }

    .select {
      background-color: lightgray;
    }

    .project_wrapper:hover {
      background-color: lightsteelblue;
      cursor: pointer;
    }

    .project_wrapper {
      min-height: 100px;
    }
    
    /*.project_name {
      display: inline-block;
    }*/

    .disable-text-selection {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.edit_btn {
  margin-left: 3% !important;
}

.pandora_menu_list p, .pandora.pandora_admin p {
  cursor: pointer;
}

.pandora_menu_list p:hover {
  background-color: lightsteelblue;
}

.error-message {
  color: darkred
}

.holder{
  position: absolute;  
  left: 50%;
  top: 50%;
}

.dot{
  position: absolute;  
  width: 20px;
  height: 20px;    
  border-radius: 50%;
  left: -20px;
  top: 0px;
  -webkit-animation: rotate 1.5s infinite;
  -moz-animation: rotate 1.5s infinite;
  -o-animation: rotate 1.5s infinite;
  animation: rotate 1.5s infinite;
}

.one{
  background: gray;  
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.two{
  background: gray;  
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.three{
  background: gray;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes rotate {
  0% {left: -20px; top: 0px;}
  33.33% {left: 0px; top: -30px;}
  66.66% {left: 20px; top: 0px;}
  100% {left: -20px; top: 0px;}
}
@-moz-keyframes rotate {
  0% {left: -20px; top: 0px;}
  33.33% {left: 0px; top: -30px;}
  66.66% {left: 20px; top: 0px;}
  100% {left: -20px; top: 0px;}
}
@-o-keyframes rotate {
  0% {left: -20px; top: 0px;}
  33.33% {left: 0px; top: -30px;}
  66.66% {left: 20px; top: 0px;}
  100% {left: -20px; top: 0px;}
}
@keyframes rotate {
  0% {left: -20px; top: 0px;}
  33.33% {left: 0px; top: -30px;}
  66.66% {left: 20px; top: 0px;}
  100% {left: -20px; top: 0px;}
}

.drop-zone {    
    width: 300px;
    height: 300px;
}

.choise-file {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}

.choise-file:active {
    color:darkblue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.agima {
  height: 40px;
  width: 100px;  
  background-image: url(../images/agima.svg);
  background-repeat: no-repeat;
}