<div class="page">
    <div *ngIf="projects && homeContent" class="home">
        <h2 [@fadeIn]="in" class="home__title" style="display: block;" [innerHTML]="homeContent.title">
        </h2>
        <a [@fadeIn]="in" pageScroll href="#projects" class="down__btn go_to" style="display: inline;">
            <p>{{homeContent.ourProjects}}</p>
            <img src="../../assets/images/arrow.png" class="down__btn__img" alt="arrow">
        </a>
        <div [@fadeIn]="in" id="cbp-so-scroller" class="cbp-so-scroller" style="display: block;">
            <app-yourock-project *ngFor="let project of projects;let i = index" [index]="i" [project]="project" id="projects"></app-yourock-project>
        </div>
        <div [@fadeIn]="in" class="connection" style="display: block;">
            {{homeContent.contacts}}: <a href="mailto:sale@yourockdude.com" class="connection_email">Email</a> <a href="https://telegram.me/yourockinc"
                target="_blank" class="connection_telegram">Telegram</a> <a href="skype:aq_rnd?chat" class="connection_skype">Skype</a>
        </div>
    </div>
</div>